:root {
    --oxford-blue:#011936;
    --alabaster:#E6EBE0;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {   
    background-color: var(--oxford-blue);
    font-family: 'Open Sans', sans-serif;
}

button {   
    background-color: var(--oxford-blue);   
    width: 50%;  
    color: var(--alabaster);   
    padding: 15px;   
    margin: 10px 0px;   
    border: none;   
    cursor: pointer;
    border-radius: 12px;
    box-shadow: -1px -7px 28px -10px rgba(0,0,0,0.75);   
}   
form {   
    border-radius: 12px;
    box-shadow: -1px -7px 28px -10px rgba(0,0,0,0.75);
    margin: auto; 
    max-width: 475px;
}   

input[type=text], input[type=password] {   
    width: 100%;  
    margin: 8px 0;  
    padding: 12px 20px;   
    display: inline-block;   
    border: 2px solid var(--oxford-blue);   
    box-sizing: border-box;
    border-radius: 12px;   
}  
button:hover {   
    opacity: 0.7;   
}   
.cancelbtn {   
    width: auto;   
    padding: 10px 18px;  
    margin: 10px 5px;  
}   
.container1 {   
    padding: 20px;
    background-color: var(--alabaster);
    border-radius: 5px;
    color: var(--oxford-blue);
    max-width: 475px;
    margin: auto;  
}

img.user {
    height: 70px;
    width: 70px;
}

.title {
    color: var(--alabaster);
    margin: 25px;
}

a {
    text-decoration:none ;
    color: black;
}

.closer {
    background-color: var(--oxford-blue);   
    max-width: 500px;  
    color: var(--alabaster);   
    padding: 15px;      
    border: none;   
    cursor: pointer;
    border-radius: 12px;
    box-shadow: -1px -7px 28px -10px rgba(0,0,0,0.75);
    align-items: center;
    margin: auto;
}

.about {
    font-size: x-small;
}

@media screen and (max-width: 768px) {
    body, html {
        scroll-behavior: smooth;
        scroll-snap-type: none;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }

    form {   
        border-radius: 12px;
        box-shadow: -1px -7px 28px -10px rgba(0,0,0,0.75);
        margin: 15px; 
    } 
}
